<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>윤동주 - 자화상</title>
    <style>

        .container {
            display: flex; 
            max-width: 1000px;
        }
        section {
            width: 50%; 
            padding-right: 10px; 
        }
        aside {
            width: 50%;
            padding-left: 10px;
        }
        footer {
            clear: both;
            margin-top: 20px;
        }
        hr {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <header>
        <h2>자화상 - 윤동주</h2>
        <hr>
    </header>

    <div class="container">
        <section>
            <h3>&lt;자화상&gt;<br>윤동주</h3>
            <p>산모퉁이를 돌아 논가 외딴 우물을 홀로 찾아가선 가만히 들여다봅니다.</p>
            <p>우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불고 가을이 있습니다.<br>
            그리고 한 사나이가 있습니다.</p>
            <p>어쩐지 그 사나이가 미워져 돌아갑니다.</p>
            <p>돌아가다 생각하니 그 사나이가 가없어집니다. 도로 가 들여다보니 사나이는 그대로 있습니다.</p>
            <p>다시 그 사나이가 미워져 돌아갑니다.<br>
            돌아가다 생각하니 그 사나이가 그리워집니다.</p>
            <p>우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불고 가을이 있고 추억처럼 사나이가 있습니다.</p>
        </section>

        <aside>
            <h3>윤동주 시인의 다른 시</h3>
            <ul>
                <li>서시</li>
                <li>자화상</li>
                <li>눈오는 지도</li>
                <li>새로운 길</li>
                <li>길</li>
                <li>별 헤는 밤</li>
                <li>쉽게 씌어진 시</li>
                <li>참회록</li>
                <li>못 자는 밤</li>
                <li>비오는 밤</li>
                <li>소낙비</li>
            </ul>
        </aside>
    </div>

    <footer>
        <hr size="2" noshade="noshade">
        <small>&copy;모바일/웹서비스프로그래밍 &reg;2026</small>
    </footer>

</body>
</html>